html {
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: black;
  }
  body {
    width: 780px;
    margin: 0 auto;
    background-color: #4D5D53;
    padding: 0 20px 20px 20px;
  }
  ol li {
    display: inline;
    padding: 10px;
    font-size: 16px;
  }